body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.main-main-container {
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(4, 15fr);
}

.tictactoe-tag {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  color: white;
  grid-row: 1;
  grid-column: 3;
}

.jumpnrun-tag {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  color: white;
  margin-right: 5%;
}

.snake-tag {
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  color: white;
  margin-right: 5%;
}
.snake-tag-container {
  grid-row: 1;
  grid-column: 1;
}
.snake-start {
  height: 20%;
  width: 20%;
}
.snake-container {
  background-color: #23a092;
  display: grid;
  grid-template-columns: repeat(25, 5fr);
  grid-template-rows: repeat(25, 5fr);

  grid-row: 2/5;
  grid-column: 1;
  margin-right: 5%;
}
.jumpnrun-tag-container {
  grid-row: 1;
  grid-column: 2;
}
.jumpnrun-container {
  background: url(../jumpnrun_back.jpeg);
  grid-row: 2/5;
  grid-column: 2;
  margin-right: 5%;
}
.field {
  grid-row: 20;
  width: 100%;
  font-size: 300%;
}

canvas {
  background: url(../jumpnrun_back.jpeg);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(3, 5fr);
  grid-row: 2/5;
  grid-column: 3;
}
.rborder {
  background-color: white;
  width: 5po;
}
.lborder {
  background-color: white;
  height: 5px;
}
.border1 {
  grid-row: 1/4;
  grid-column: 3;
}
.border2 {
  grid-row: 1/4;
  grid-column: 2;
}
.border3 {
  grid-row: 3;
  grid-column: 1/4;
}
.border4 {
  grid-row: 2;
  grid-column: 1/4;
}
.container-buttons {
  width: 100%;
  height: 100%;
  background-color: #c3e0e5;
  font-size: 500%;
}
.button1 {
  grid-row: 1;
  grid-column: 1;
}
.button2 {
  grid-row: 1;
  grid-column: 2;
}
.button3 {
  grid-row: 1;
  grid-column: 3;
}
.button4 {
  grid-row: 2;
  grid-column: 1;
}
.button5 {
  grid-row: 2;
  grid-column: 2;
}
.button6 {
  grid-row: 2;
  grid-column: 3;
}
.button7 {
  grid-row: 3;
  grid-column: 1;
}
.button8 {
  grid-row: 3;
  grid-column: 2;
}
.button9 {
  grid-row: 3;
  grid-column: 3;
}
